---
const { title } = Astro.props;
---

<header>
    <h1 class="title"> {title}:</h1>
</header>

<style>
    .title {
        font-size: 1.0em;
        color: #FFFFFF;
        
        position: relative;

        margin-top: 30px;
    }

    .title::before {
        content: "###";
        color: #666;
    }
</style>
